127.0.0.1       localhost

{% for k, v in hostvars.iteritems() -%}
    {% if  hostvars[k]['ansible_default_ipv4']['address']  == inventory_hostname %}

127.0.1.1       {{ v['ansible_hostname'] }} {{ v['ansible_hostname'] }}

    {% endif %}
{{ hostvars[k]['ansible_default_ipv4']['address'] }}  {{ v['ansible_hostname'] }}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
